---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout>
<h1>EKP</h1>
<p>Bienvenue sur notre blog, retrouvez nos supers articles uWu</p>
</BaseLayout>

<style>
	body{
		color: red;
	}
</style>
